//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px/16(which is default font size for html) = 75em
$bp-large: 62.5em; //1000px
$bp-medium: 43.75em; //700px
$bp-small: 31.25em; //500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  @media only screen and(max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and(max-width: $bp-large) {
    font-size: 43.75%;
  }

  @media only screen and(max-width: $bp-medium) {
    font-size: 31.25%;
  }

  @media only screen and(max-width: $bp-small) {
    font-size: 18.75%;
  }
}

.container-fluid,
.container {
  padding: 0;
 
  @media only screen and(min-width: $bp-largest) {
    max-width: 100vw;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}


