.footer {
  .container {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  &__heading-2 {
    color: aliceblue;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: $font-primary;
  }

  &__p {
    color: rgba(255, 255, 255, 0.7);
  }

  &__social,
  .list-unstyled {
    padding-left: 0;
    list-style: none;

    li {
      list-style: none;
      margin: 0 1rem 0 0;
      display: inline-block;
    }
    ul li,
    &-icon {
      margin-bottom: 1rem;
    }

    &-icon-a {
      color: rgba(255, 255, 255, 0.6);
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      position: relative;
      margin-right: 1rem;

      i {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }

  &__widget {
    .list-unstyled {
      display: flex;
      flex-direction: column;
    }

    ul li a {
      color: rgba(255, 255, 255, 0.6);
    }

    .block-23 {
      ul li .icon {
        width: 40px;
        font-size: 18px;
        padding-top: 2px;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 1rem;
      }

      ul li .icon,
      ul li .text {
        display: table-cell;
        vertical-align: top;
        color: rgba(255, 255, 255, 0.7);
      }
      ul li {
        list-style: none;
        margin-bottom: 1rem;
      }

      ul li a {
        text-decoration: none;
      }
    }
  }

  .copyright {
    
    .footer-icon {
      color: #fa1616;
    }
    
    .footer-brand {
      color: #fff;
      text-decoration: none;
    }
  }
}

.footer-section {
  font-size: 1.6rem;
  background: -webkit-linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 7rem 0;
  z-index: 0;
  color: aliceblue;
}
