.navbar {
  padding: 1.3rem 1rem;
  background-color: $color-primary; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  &-brand {
    padding-left: 7.5rem;
    font-family: $font-secondary;
    font-size: 3rem;
    letter-spacing: 2px;
   
    cursor: pointer;
    &-text {
    color: #ffffff;

    }
    svg {
      fill: #302f31;
      cursor: pointer;
    }
  }

  &-nav {
    padding-right: 4rem;

    .nav-item {
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin-right: 4rem;
      .nav-link,
      .nav-link::before,
      .nav-link::after {
        transition: transform 0.3s, width 0.3s;
      }

      .nav-link {
        font-family: $font-secondary;
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 1.2rem;
        color: aliceblue;
      }

      .nav-link::after {
        position: absolute;
        content: ".";
        display: inline-block;
        background-color: #ffffff;
        height: 2px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 0%;
        margin: 0 auto;
        transition: 300ms linear;
        transition-property: width;
        border-radius: 1rem;
        overflow: hidden;
      }

      .nav-link:hover::after {
        width: 100%;
        transform: scaleX(1);
      }

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &-expand-lg {
    justify-content: space-between;
  }
}
