.navbar {
  padding: 1.3rem 1rem;
  background-color:$color-primary;
  &-brand {
    padding-left: 7.5rem;
    font-family: $font-primary;
    font-size: 3rem;
    letter-spacing: 1px;
    
    &-text{
      color: #ffffff;

    }
    svg {
      fill: #A649E9;
    }
  }

  &-nav {
    padding-right: 4rem;
      
    .nav-item {
      position: relative;
      display: inline-block;
      overflow: hidden;
      .nav-link,
      .nav-link::before,
      .nav-link::after {
        transition: transform 0.3s, width 0.3s;
      }

      .nav-link {
        font-family: $font-secondary;
        font-size: 1.3rem;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 1rem;
        color: aliceblue;
      }

      .nav-link::after {
        position: absolute;
        content: ".";
        display: inline-block;
        background-color: #ffffff;
        height: 2px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 0%;
        margin: 0 auto;
        transition: 300ms linear;
        transition-property: width;
        border-radius: 1rem;
        overflow: hidden;
      }

      .nav-link:hover::after {
        width: 100%;
        transform: scaleX(1);
      }
      
      &:not(:last-child) {
                margin-right: 1rem;
            }
    }
  }

  &-expand-lg{
    justify-content: space-between;
  }
}
