// ----------- Abstracts Section ------------
@import "./scss/abstracts/variable";

// ----------- Base Section      -------------
@import "./scss/base/animation";
@import "./scss/base/base";
@import "./scss/base/typography";
@import "./scss/base/utilities";

// ------------ Components Section ------------

@import "./scss/components/button";
//-----------  Layouts Section --------------
@import './scss/layout/navbar';
@import './scss/layout/_home';
@import './scss/layout/_staff';
@import './scss/layout/contact';
@import './scss/layout/footer';
//custom bootstrap

@import "./scss/custom.scss" ;
